<%- include('layout') -%>
<div class="container mt-5">
  <h1>User Management System</h1>
  <h2>Welcome <span class="text-primary" id="user-name"></span></h2>
</div>
<script type="text/javascript" defer>
  const userDetails =
    window &&
    window.sessionStorage &&
    JSON.parse(window.sessionStorage.getItem('user'));
  const { name, email } = userDetails || {};
  const userName = document.getElementById('user-name');
  userName.innerText = name;
</script>
